{% extends 'base.html.twig' %}

{% block title %}CEP{% endblock %}

{% block body %}
    <h1>DATA CEP</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enderecamento_postal.id }}</td>
            </tr>
            <tr>
                <th>Cep</th>
                <td>{{ enderecamento_postal.cep }}</td>
            </tr>
            <tr>
                <th>Logradouro</th>
                <td>{{ enderecamento_postal.logradouro }}</td>
            </tr>
              <tr>
                <th>Bairro</th>
                <td>{{ enderecamento_postal.Bairro }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ enderecamento_postal.complemento }}</td>
            </tr>
            <tr>
                <th>Localidade</th>
                <td>{{ enderecamento_postal.localidade }}</td>
            </tr>
            <tr>
                <th>Uf</th>
                <td>{{ enderecamento_postal.uf }}</td>
            </tr>
            <tr>
                <th>Ibge</th>
                <td>{{ enderecamento_postal.ibge }}</td>
            </tr>
            <tr>
                <th>Gia</th>
                <td>{{ enderecamento_postal.gia }}</td>
            </tr>
            <tr>
                <th>Ddd</th>
                <td>{{ enderecamento_postal.ddd }}</td>
            </tr>
            <tr>
                <th>Siafi</th>
                <td>{{ enderecamento_postal.siafi }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('enderecamento_postal_index') }}">back to list</a>

    <a href="{{ path('enderecamento_postal_edit', {'id': enderecamento_postal.id}) }}">edit</a>

    {{ include('enderecamento_postal/_delete_form.html.twig') }}
{% endblock %}
